body {
  background-color: #FFF8E7;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  justify-content: center;
  padding: 0;
  transition: background-color 0.4s ease, color 0.4s ease;
}

#root {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
}
.App {
  width: 100%;
  max-width: 1200px;
}
.MuiPaper-root, .MuiCard-root, .MuiAppBar-root {
  transition: background-color 0.4s ease, color 0.4s ease;
}
